@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;800&family=Roboto:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    /* background: floralwhite; */
    
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23ffffff' fill-opacity='0.29'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}

.notbody {
    background: #383737;
    font-family: 'Poppins', sans-serif;
    /* color: #fff; */
}

.header {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    background: #5c5858;
    color: #fff;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    backdrop-filter: blur(20px) saturate(113%);
    -webkit-backdrop-filter: blur(20px) saturate(113%);
    /* font-family: 'Roboto', sans-serif; */
}

.logo-container {
    width: 128px;
}

.nav-items {
    padding: 0px 2px;
}

.nav-items>ul {
    font-size: 20px;
    display: flex;
    list-style-type: none;
    cursor: pointer;
}


.nav-items>ul>li {
    padding: 10px;
    margin: 10px;

}

.nav-items>ul>li:hover {
    font-size: 20px;
    background: #fff;
    color: #3d3939;
    border-radius: 9px;
    transition: background-color 1s;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.name {
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    /* margin: 0; */
}

.cuisine {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

.rating {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}

.price {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.time {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

.res-card {
    margin: 5px;
    padding: 5px;
    width: 22%;
    background-color: antiquewhite;
    border-radius: 8px;
    max-height: 500px;

}

.res-card:hover {
    cursor: pointer;
    border: 1px solid black;
}

.search {
    padding: 10px
}

.res-logo {
    width: 100%;
    border-radius: 6px;
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
}



.maincontainer {
    width: 302px;
    height: 299px;
    margin: 10px;
    float: left;
    /* stack each div horizontally */
}

img {
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}

.back h2 {
    position: absolute;
    font-family: 'Poppins', sans-serif;
}

.back p {
    /* position: absolute; */
    /* top: 50px; */
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.front h3 {
    position: absolute;
    padding: 10px;
    top: 180px;
    color: #3d3939;
    font-family: 'Poppins', sans-serif;
}

/* style the maincontainer class with all child div's of class .front */
.maincontainer>.front {
    position: absolute;
    transform: perspective(600px) rotateY(0deg);
    background: #ffff;
    width: 302px;
    height: 290px;
    cursor: pointer;
    backface-visibility: hidden;
    /* cant see the backside elements as theyre turning around */
    transition: transform .5s linear 0s;
    /* border: 1px solid black; */
    border-radius: 8px;
    box-shadow:
        3.6px 5.5px 4.3px rgba(0, 0, 0, 0.276),
        6.9px 10.4px 10.9px rgba(0, 0, 0, 0.275),
        10.1px 15.2px 22.2px rgba(0, 0, 0, 0.246),
        14.7px 22.2px 45.6px rgba(0, 0, 0, 0.228),
        31px 47px 125px rgba(0, 0, 0, 0.32);
}

.shimmer{
    width: 302px;
    height: 290px;
    background:lightgray;   
    margin: 20px;
    border-radius: 12px;
    /* background: linear-gradient(100deg,
    rgba(255,255,255,0) 20%,
    rgba(255,255,255,0.5) 50%,
    rgba(255,255,255,0) 80%);
   */
   box-sizing: border-box;
    animation: shimmer 2s infinite linear;
}
  
@keyframes shimmer{
    from {
        transform: translateX(-200%);
    }
    to{
        transform: translateX(200%);
    }
}

/* style the maincontainer class with all child div's of class .back */
.maincontainer>.back {
    position: absolute;
    transform: perspective(600px) rotateY(180deg);
    background: #262626;
    color: #fff;
    width: 302px;
    height: 290px;
    border-radius: 10px;
    padding: 8px;
    backface-visibility: hidden;
    /* cant see the backside elements as theyre turning around */
    transition: transform .5s linear 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.maincontainer:hover>.front {
    transform: perspective(600px) rotateY(-180deg);
}

.maincontainer:hover>.back {
    transform: perspective(600px) rotateY(0deg);
}


.slick-slider {
    height: 300px;
}

/* .slick-arrow{
    display: none;
} */


.filter-btn {
    padding: 5px;
    margin: 7px;
}

.error{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.innerImg{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inner img{
width: 200px;
height: 180px;
}

.innerImg h1 {
    font-size: 20px;
    margin: 0 auto;
}
.innerImg h6{
    margin: 0 auto;  
    font-size: 15px;
    padding-bottom: 5px;
}

.inner{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
}

.maindiv{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}