@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;800&family=Roboto:wght@300&display=swap');

body{ 
    font-family: 'Poppins', sans-serif;
    /* background: floralwhite; */
   
}
.notbody{
    background: #383737;
    font-family: 'Poppins', sans-serif;
    /* color: #fff; */
}

.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    background: #383737;
    color: #fff;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    /* font-family: 'Roboto', sans-serif; */
}

.logo-container {
    width: 170px;
}

.nav-items {
    padding: 0px 2px;
}

.nav-items>ul {
    font-size: 20px;
    display: flex;
    list-style-type: none;
    cursor: pointer;
}


.nav-items>ul>li {
    padding: 10px;
    margin: 10px;

}

.nav-items>ul>li:hover{
font-size: 20px;
background: #fff;
color: #3d3939;
border-radius: 9px;
transition: background-color 1s;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.name{
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    /* margin: 0; */
}

.cuisine{
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

.rating{
    font-size: 15px;
    font-family: 'Inter', sans-serif; 
}
.price{
    font-size: 16px;
    font-family: 'Inter', sans-serif; 
}
.time{
    font-size: 14px;
    font-family: 'Inter', sans-serif; 
}
.res-card {
    margin: 5px;
    padding: 5px;
    width: 22%;
    background-color: antiquewhite;
    border-radius: 8px;
    max-height:500px;

}

.res-card:hover {
    cursor: pointer;
    border: 1px solid black;
}

.search {
    padding: 10px
}

.res-logo {
    width: 100%;
    border-radius: 6px;
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
}



.maincontainer
{
    width: 302px;
    height: 299px;
    margin: 10px;
    float: left; /* stack each div horizontally */
}

img
{
   border-radius: 10px;
   font-family: 'Poppins', sans-serif;
}

.back h2
{
    position: absolute;
    font-family: 'Poppins', sans-serif;
}

.back p
{
    position: absolute;
    top: 50px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.front h3
{
    position: absolute;
    padding: 10px;
    top: 200px;
    color: #3d3939;
    font-family: 'Poppins', sans-serif;
}

/* style the maincontainer class with all child div's of class .front */
.maincontainer >.front
{
    position: absolute;
    transform: perspective(600px) rotateY(0deg);
    
    width: 302px;
    height: 290px;
    cursor: pointer;
    backface-visibility: hidden; /* cant see the backside elements as theyre turning around */
    transition: transform .5s linear 0s;
}

/* style the maincontainer class with all child div's of class .back */
.maincontainer > .back
{
    position: absolute;
    transform: perspective(600px) rotateY(180deg);
    background: #262626;
    color: #fff;
    width: 302px;
    height: 290px;
    border-radius: 10px;
    padding: 5px;
    backface-visibility: hidden; /* cant see the backside elements as theyre turning around */
    transition: transform .5s linear 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.maincontainer:hover > .front
{
    transform: perspective(600px) rotateY(-180deg);
}

.maincontainer:hover > .back
{
    transform: perspective(600px) rotateY(0deg);
}


.slick-slider{
    height: 300px;
}

/* .slick-arrow{
    display: none;
} */